:root {
  --body-background-color: black;
  --cell-background-color: #eaeaea;
  --cell-border: #ccc;
  --white-color: white;
  --cell-X-color: blue;
  --cell-O-color: red;
  --next-round-button-background-color: #4CAF50;
  --next-round-button-color: white;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
  color: var(--white-color);
}

.gamemode-selection {
  margin-top: 30px;
  text-align: center;
}

.gamemode-selection h2 {
  color: var(--white-color);
  margin-bottom: 15px;
}

.gamemode-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--next-round-button-background-color);
  color: var(--next-round-button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.gamemode-button:hover {
  background-color: #45a049;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
  margin: 50px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: var(--cell-background-color);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cell-border);
  cursor: pointer;
}

.cell.X {
  color: var(--cell-X-color);
}

.cell.O {
  color: var(--cell-O-color);
}

.hidden {
  display: none;
}

.next-round-button {
  padding: 10px 20px;
  background-color: var(--next-round-button-background-color);
  color: var(--next-round-button-color);
  border: none;
  cursor: pointer;
}

.scoreboard, p {
  font-size: 18px;
  margin-top: 10px;
  color: var(--white-color);
}

.winner-message {
  margin-top: 20px;
}





